.footer{
    margin-top: 40px;
}

.footer h4{
    font-family: "Aleo Light", Aleo, slab serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 150%;

    text-transform: uppercase;
}

.footer p{
    color: #555555;
}

.footer .row p:hover{
    color: black;
}

.footer .last-child{
    text-align: center;
}