<template name="footer">
    <div class="footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h4>Kundservice</h4>
                    <p>Kontakta oss</p>
                    <p>Frakter och leverans</p>
                    <p>Priser och betalning</p>
                    <p>100% nöjdhetsgaranti</p>
                </div>

                <div class="col-sm-3">
                    <h4>Om oss</h4>
                    <p>Om firman</p>

                    <h4>Presentkort</h4>
                    <p>Traditionella presentkort</p>
                    <p>Elektroniska presentkort</p>
                </div>

                <div class="col-sm-3">
                    <h4>Mitt konto</h4>
                    <p>Logga in</p>
                    <p>Beställningar</p>
                    <p>Dina mått och andra uppgifter</p>
                </div>

                <div class="col-sm-3">
                    <h4>Följ oss</h4>
                    <p>Facebook and twitter</p>
                </div>
            </div>
            <hr>
            <p class="last-child">
                2015 Herrekipering & Co. Some rights reserved. | Privacy policy
            </p>
        </div>
    </div>
</template>