<template name="layout">
    <div class="menu">
        <div class="icon-close">
            <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
        </div>

        <ul>
            <li><a href="{{pathFor 'framsida'}}">Hem</a></li>
            <li><a href="{{pathFor 'kostymer'}}">Kostymer</a></li>
        </ul>
    </div>

    <div class="header">
        <div><span class="icon-menu"><i class="fa fa-bars"></i> Menu</span>
        <span class="left-header-top-list">
        <ul>
            <li><a href="produktion">Sydda i Pakistan</a></li>
            <li><a href="tyg">Italienskt tyg / Gratis tygprover</a></li>
            <li><a href="recensioner">Recensioner</a></li>
        </ul>
        </span>
            <br>
        <span class="left-header">
            <ul>
                <li><a href="{{pathFor 'kostymer'}}">Kostymer</a></li>
                <li><a href="skjortor">Skjortor</a></li>
                <li><a href="kavajer">Kavajer</a></li>
            </ul>
        </span>
        </div>
        <div><a href="{{pathFor 'framsida'}}"><img src="/nylogga2.png" style="height: 100px; display: block; margin-left:auto; margin-right: auto;"></a>
        </div>
        <div>
            <img class="bag" src="/bag.png">
        </div>
        <br style="clear: left;"/>
    </div>

    <div class="yield">
        {{>yield}}
    </div>

    {{> footer}}
</template>