<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Internets herrekipering - Skräddarsydda kostymer</title>

    <meta property="og:title" content="Internets herrekipering"/>
    <meta property="og:url" content="http://213.112.213.170:81"/>
    <meta property="og:image" content="http://213.112.213.170:81/suit.jpg"/>
    <meta property="og:site_name" content="Internets herrekipering"/>
    <meta property="og:description" content="Hos IK kan du köpa kläder som passar dig till ett förmånligt pris."/>
</head>