<template name="framsida">
    <div class="owl-jumbotron" tabindex="-1">
        <div class="item" tabindex="-1">
            <div class="front-picture shirt" tabindex="-1">
                <div class="text-opening" tabindex="-1">
                    <h1>Skräddarsydda skjortor <br> - från 890 kr</h1>

                    <p tabindex="-1">Klassisk design till ett överkomligt pris.
                    </p>
                    <a href="{{pathFor 'kostymer' gender='herr'}}" class="till-kostymer" tabindex="-1">Se vårt urval
                    </a>
                </div>
            </div>
        </div>

        <div class="item" tabindex="-1">
            <div class="front-picture dark-suit" tabindex="-1">
                <div class="text-opening" tabindex="-1">
                    <h1 tabindex="-1">Skräddarsydda kostymer <br> - från 1490 kr</h1>

                    <p tabindex="-1">Klassisk design till ett överkomligt pris.
                    </p>
                    <a tabindex="-1" href="kostymer" class="till-kostymer">Se vårt urval
                    </a>
                </div>
            </div>
        </div>

        <div class="item" tabindex="-1">
            <div class="front-picture bike-suit" tabindex="-1">
                <div class="text-opening" tabindex="-1">
                    <h1 tabindex="-1">Skräddarsydda kostymer <br> - från 1490 kr</h1>

                    <p tabindex="-1">Klassisk design till ett överkomligt pris.
                    </p>
                    <a tabindex="-1" href="kostymer" class="till-kostymer">Se vårt urval
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="some-pictures">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="image-container">
                        <a href="/kostymer">
                            <div class="wrapper">
                                <img src="kostymer-bild.jpg" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="image-container">
                        <a href="/skjortor">
                            <div class="wrapper">
                                <img src="skjortor-bild.jpg" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="image-container">
                        <a href="/skjortor">
                            <div class="wrapper">
                                <img src="accesoarer-bild.jpg" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hur-det-fungerar">
        <div class="container-fluid">
            <h2>Hur det går till
            </h2>

            <hr>

            <div class="row">
                <div class="col-sm-2">
                </div>

                <div class="col-sm-3">
                    <p>1.</p>

                    <p>Designa din produkt så som du vill ha den.</p>

                    <p>Välj den modell, design och det tyg som du önskar att ha.</p>
                </div>

                <div class="col-sm-2">
                </div>

                <div class="col-sm-3">
                    <p>2.</p>

                    <p>Ta dina mått.</p>

                    <p>Det går snabbt och enkelt att ta sina mått på Smith & Sons. Följ bara instruktionerna och du får
                        en perfekt passform.</p>
                </div>
            </div>

            <div class="row why">
                <div class="col-sm-2">
                </div>

                <div class="col-sm-3">
                    <p>3.</p>

                    <p>Leverans och koll att allt blev rätt.</p>

                    <p>Efter fyra-fem veckor kommer din beställning att vara framme. Om det visar sig att något är fel
                        med den eller ifall du inte är nöjd kan du byta i upp till trettio
                        dagar efter leverans. Och ifall det blev något litet fel på måttet så står vi för kostnaden att
                        rätta till det, upp till 500 kronor.</p>
                </div>

                <div class="col-sm-2">
                </div>

                <div class="col-sm-3">
                    <p>4.</p>

                    <p>Dina mått sparas elektroniskt</p>

                    <p>För att göra det lättare för dig att använda våra tjänster i framtiden så sparar vi dina mått; de
                        går att ändra ifall det behövs.</p>
                </div>

                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</template>