<template name="kostymSida">
    {{#with suit}}
    <div class="kostym-sida">
        {{> overlayBox}}
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-4">
                    <a href="{{pathFor 'kostymer'}}">&lt; Tillbaka till kostymerna</a>

                    <h1>{{name}}</h1>

                    <p>{{price}} kr</p>
                    <hr>

                    <div class="kostym-beskrivning">
                        <p>Beskrivning av kostymen.
                            malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                            tempor Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat
                            eleifend leo.

                            malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                            tempor Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec
                            eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat
                            eleifend leo.
                        </p>
                    </div>
                    <p class="read-more"><a href="#" class="button">Läs mer</a></p>

                    <div class="row engagera-kostymen">
                        <div class="col-sm-6">
                            <a href="#"><p>Köp</p></a>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <a href="javascript: void(0)" onclick="callSuitOverlay()"><p>Designa</p></a>
                            </div>
                        </div>
                    </div>


                    <ul>
                        <li>{{material}}</li>
                        <li>Endast kemtvätt</li>
                    </ul>
                    <hr>

                    <h4>Fri frakt</h4>
                    <p>För alla ordrar över 800 kronor.<br>
                        Leverans den {{dateInThirtyDays}}.</p>

                    <h4>Skräddarsydd</h4>
                    <p>Sydd efter din storlek.
                    </p>

                    <h4>Justeringar täckta i ett år</h4>
                    <p>Vi har en passgaranti i ett år; om formen inte är som du önskar kan du lämna
                        in den till en skräddare för att rätta till den och vi står för kostnaden upp till 500 kronor.</p>
                </div>

                <div class="col-sm-1"></div>

                <div class="col-sm-7 suit-large-background">
                </div>

            </div>
        </div>
    </div>
    {{/with}}
</template>