<template name="kostymer">
    <div class="kostymer">
        <div class="container-fluid">
            <h1>Skräddarsydda kostymer</h1>
            <hr>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                </label>
            </div>

            <div class="row">
                {{#each suits}}
                <div class="col-sm-3">
                    <a href="{{pathFor 'kostymSida'}}">
                        <img class="model" src="{{modelSrc}}"/>
                        <img class="swatch" src="{{swatchSrc}}" hidden/>
                    </a>

                    <p>{{name}} Kostym <br><span>{{price}} kr {{url}}</span></p>

                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
