.kostym-beskrivning {
    max-height: 60px;
    position: relative;
    overflow: hidden;
}


.engagera-kostymen p{
    max-width: 200px;
    background-color: #29e260;
    padding: 10px 15px 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.kostym-sida a:link{
    text-decoration: none;
}

.kostym-sida h4{
    padding-top: 15px;
}

.kostym-sida .col-sm-7{
    height: 860px;
    background-size: 400px;
    background-repeat: no-repeat;
}