@media (max-width: 769px) {
    .header div:first-child{
        float: left;
        width: 25%;
    }

    .header div:nth-child(2){
        float: left;
        width: 50%;
    }

    .header div:nth-child(3){
        float: right;
        width: 25%;
    }

    .icon-menu {
        width: 110px;
        float: left;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        padding-top: 10px;
        padding-left: 10px;
    }

    .left-header{display:none;}
    .left-header-top-list{display:none;}

    .some-pictures .row .col-sm-4:nth-child(1) img{
      padding-bottom: 16px;
        width: 100%;
    }
    .some-pictures .row .col-sm-4:nth-child(2) img{
      padding-bottom: 16px;
        width: 100%;
    }
    .some-pictures .row .col-sm-4:nth-child(3) img{
      padding-bottom: 16px;
        width: 100%;
    }
    .wrapper {
      position: relative;
    }

    .front-picture{
        display: none;
    }
}

@media screen and (min-width: 769px){
    .engagera-kostymen .col-sm-6:first-child{
        padding-right: 2px;
    }
    .engagera-kostymen .col-sm-6:nth-child(2){
        padding-left: 2px;
    }

  .front-picture{
    margin-bottom: 8px;
    cursor: grab;

    width: 100%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .shirt{
    background-image: url('shirt.jpg');
  }

  .dark-suit{
    background-image: url('suit.jpg');
  }

  .bike-suit{
    background-image: url('bike-suit.jpg');
  }

  .front-picture .text-opening{
    position: relative;
    top: 300px;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .front-picture h1{
    color: #fff;
    font-weight: 800;
    font-size: 380%;
    line-height: 110%;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;

    top: 50px;
  }
  .front-picture p{
    color: #fff;
    font-style: italic;
    font-size: 180%;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    margin-bottom: 35px;
  }

  .front-picture .till-kostymer{
    color: black;

    position:relative;
    margin-top: 15px;
    font-size: 110%;
    line-height: 110%;
    color: black;
    background-color: #fff;
    padding: 15px;
    text-transform: uppercase;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }

  .front-picture .till-kostymer:hover{
    background-color: #0AC92B; color: #fff;
  }

  .front-picture a:link{

    text-decoration: none;
  }

  .some-pictures .wrapper{
    padding: 0;
  }

  .wrapper {
    position: relative;
  }

  .some-pictures .row .col-sm-4:nth-child(1){
    padding-left: 0;
    padding-right: 5.3px;
  }
  .some-pictures .row .col-sm-4:nth-child(2){
    padding-left: 2.7px;
    padding-right: 2.7px;
  }
  .some-pictures .row .col-sm-4:nth-child(3){
    padding-left: 5.3px;
    padding-right: 0;
  }

    .icon-menu {
        display: none;
    }

    .icon-close{
        display: none;
    }

    .left-header-top-list{
        padding-bottom: 30px;
    }

    .left-header-top-list ul{
        padding-left: 0;
        margin-left: 19px;
        margin-top: 14px;
    }

    .left-header-top-list ul li{
        display:inline;
        padding: 0 5px;
    }

    .left-header-top-list ul li a {
        text-decoration: none;
        color: darkslategray;
    }

    .left-header-top-list ul li a:hover{
        color: black;
    }



    .left-header ul{
        padding-left: 0;
        margin-left: 21px;
    }

    .left-header ul li {
        display: inline;
        text-transform: uppercase;
        padding: 0 5px;
        letter-spacing: 1px;
    }

    .left-header ul li a {
        text-decoration: none;
        color: black;
    }

    .left-header ul li a:hover {
        color: deepskyblue;
    }

    .header div:first-child{
        float: left;
        width: 40%;
    }

    .header div:nth-child(2){
        float: left;
        width: 20%;
    }

    .header div:nth-child(3){
        float: right;
        width: 40%;
    }
}

@media screen and (min-width: 1600px){
    .wrapper {
      position: absolute;
    }

    .some-pictures .wrapper{
      padding: 0;
    }

    .some-pictures .row .col-sm-4:nth-child(1){
      padding-left: 0;
      padding-right: 5.3px;
    }
    .some-pictures .row .col-sm-4:nth-child(2){
      padding-left: 2.7px;
      padding-right: 2.7px;
    }
    .some-pictures .row .col-sm-4:nth-child(3){
      padding-left: 5.3px;
      padding-right: 0;
    }

      .icon-menu {
          display: none;
      }

      .icon-close{
          display: none;
      }

      .left-header-top-list{
          padding-bottom: 30px;
      }

      .left-header-top-list ul{
          padding-left: 0;
          margin-left: 19px;
          margin-top: 14px;
      }

      .left-header-top-list ul li{
          display:inline;
          padding: 0 5px;
      }

      .left-header-top-list ul li a {
          text-decoration: none;
          color: darkslategray;
      }

      .left-header-top-list ul li a:hover{
          color: black;
      }


      .left-header ul{
          padding-left: 0;
          margin-left: 21px;
      }

      .left-header ul li {
          display: inline;
          text-transform: uppercase;
          padding: 0 5px;
          letter-spacing: 1px;
      }

      .left-header ul li a {
          text-decoration: none;
          color: black;
      }

      .left-header ul li a:hover {
          color: deepskyblue;
      }

      .header div:first-child{
          float: left;
          width: 40%;
      }

      .header div:nth-child(2){
          float: left;
          width: 20%;
      }

      .header div:nth-child(3){
          float: right;
          width: 40%;
      }
}
