body {
    left: 0;
    margin: 0;
    position: relative;
}

.center{
    text-align: center;
}

.float-right{
    float:right;
}

.float-left{
    float: left;
}

.menu {
    background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
    left: -285px; /* start off behind the scenes */
    height: 100%;
    position: fixed;
    width: 285px;
}

.bag{
    float: right; margin-top:8px; margin-right:13px;
}

p {font-family: "Aleo Light", Aleo, slab serif;}
.relative{position:relative; display:block;}

.some-pictures .image-container{
  position: relative;
}

.some-pictures .wrapper:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.some-pictures .wrapper:hover:after{
    background: rgba(0,0,255, 0.5);
    -moz-transition: all .7s linear;
    -webkit-transition: all .7s linear;
    -ms-transition: all .7s linear;
    -o-transition: all .7s linear;
    transition: all .7s linear;
}

.some-pictures .wrapper:not(:hover):after{
    background: rgba(0,0,255, 0);
    -moz-transition: all .7s linear;
    -webkit-transition: all .7s linear;
    -ms-transition: all .7s linear;
    -o-transition: all .7s linear;
    transition: all .7s linear;
}

.wrapper {
    overflow: hidden;
}

.wrapper img {
      display: inline-block;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;

    vertical-align: middle;
}

.hur-det-fungerar{
  font-family: "Raleway";
  text-align: center;
  position: relative;
  top: 30px;
}

.hur-det-fungerar h2{
  font-family: "Raleway";
  font-weight: bold;
  font-size: 32px;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
}

.hur-det-fungerar hr{
  width: 200px;
  position: relative;
  top: 35px;
}

.hur-det-fungerar .row{
  position: relative;
  top: 55px;
}

.hur-det-fungerar .why{
  position: relative;
  top: 75px;
}

.hur-det-fungerar p:nth-child(2){
  font-weight: bold;
  font-size: 14px;
  line-height: 1.75em;
  letter-spacing: 0.4px;
  font-family: "Raleway";
}
