.storlek h1{
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 24px;
    font-weight: bold;
    color: #595959;
    line-height: 1.42;
}

.storlek .row .col-sm-8{
    background-color: greenyellow;
}

.storlek .split span:first-child {
    float: left;
    width: 50%;
    padding-right: 10px;
    text-align: right;
    position: relative;
    margin-top: 2px;
}


.storlek .split span:nth-child(2) {
    width: 50%;
    padding-left: 10px;
}

.storlek .split span:nth-child(2) input {
    width: 60px;
    border-radius: 0;
    border: 1px solid #595959;
}

.storlek .green-button-container{
    text-align: center;
    margin-top: 25px;
}


.storlek .green-button{
    max-width: 140px;
    background-color: #29e260;
    padding: 10px 15px 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.storlek .green-button:link{
    text-decoration: none;
}