<template name="storlek">
    <div class="storlek">
        <div class="container-fluid">
            <h1>Måttagning</h1>

            <div class="row">
                <div class="col-sm-8">
                    VIDEO
                </div>

                <div class="col-sm-4">
                    <p class="center">Vad har du för mått? 1/6</p>
                    <div class="row">
                        <p class="split">
                            <span>Höjd</span>
                            <span><input class="height"> cm</span>
                        </p>
                    </div>

                    <div class="row">
                        <p class="split">
                            <span>Vikt</span>
                            <span><input class="weight"> kg</span>
                        </p>
                    </div>

                    <div class="green-button-container">
                        <a href="javascript: void(0)" class="green-button">Gå vidare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>