.kassan .row:first-child {
    margin-top: 50px;
}

.float-left-third{
    position: relative;
    float: left;
    width: 33%;
    background-color: #E6E6E6;
    height: 30px;

    display: table;
}

.float-left-third:after, .float-left-third:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    z-index: 5;
}

.float-left-third:nth-child(-n+2):after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color:  #E6E6E6;
    border-width: 16px;
    margin-top: -16px;
}
.float-left-third:nth-child(-n+2):before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: white;
    border-width: 20px;
    margin-top: -20px;
}

.process-of-ordering p{
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    display: table-cell;
}

.shop-safer{

}

.orders{
    margin-top: 40px;
}

.orders h1{
    margin-bottom: 60px;
}

.order{
    min-height: 60px;
    overflow:hidden;
    margin-bottom: 20px;
}

.orders .float-left-tenth{
    float:left;
    width: 10%;
}

.orders .float-left-tenth:first-child{
    display: table;
    height: 48px;
}

.orders .float-left-tenth:first-child {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}


.orders .float-left-tenth:first-child i {
    padding: 5px;
    margin: 5px;
}

.orders .float-left-tenth:first-child i:hover {
    color: #808080;
    cursor: pointer;
}

.orders .float-left-tenth:nth-child(2) img{
    height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.orders .float-left-eight-tenth{
    padding-left: 8px;
    float:left;
    width: 80%;
}

.orders .float-left-eight-tenth .name{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3em;
    text-transform: uppercase;
}

.orders .float-left-eight-tenth .price{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    margin-left: 5px;
}

.orders .float-left-eight-tenth p:nth-child(2) a{
    white-space: nowrap;
    margin-right: 5px;
}

.checkout p span:first-child {
    float: left;
    width: 50%;
    padding-right: 10px;
    text-align: right;
    color: #888;
    text-transform: uppercase;
}


.checkout p span:nth-child(2) {
    width: 50%;
    padding-left: 10px;
    text-transform: uppercase;
}

.checkout .row:nth-child(3){
    margin-top: 15px;
}

.checkout .row:nth-child(3) p span:nth-child(2){
    line-height: 1.3em;
    font-weight: bold;
    font-size: 20px;
}

.checkout .p-for-button{
    margin-top: 40px;
    text-align: center;
}


.checkout .p-for-button a{
    width: 300px;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #29e260;
    padding: 10px 15px 8px;
    color: white;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.checkout .green-button:hover{
    background-color: #45e674;
}

.checkout a:link{
    text-decoration: none;
}