<template name="kassan">
    {{> overlayBox}}
    <div class="kassan">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="process-of-ordering">
                        <div class="float-left-third">
                            <p>Beställ</p>
                        </div>
                        <div class="float-left-third">
                            <p>Designa</p>
                        </div>
                        <div class="float-left-third">
                            <p>Mät</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7">
                    <div class="orders">
                        <h1>Med till kassan</h1>

                        {{#each orders}}
                        <div class="order">
                            <div class="float-left-tenth">
                                <p>
                                    <i class="fa fa-times"></i>
                                </p>
                            </div>


                            <div class="float-left-tenth">
                                {{#with suitFromSuitId}}<img src="{{miniSrc}}">{{/with}}
                            </div>

                            <div class="float-left-eight-tenth">
                                {{#with suitFromSuitId}}
                                <p><span class="name">{{name}}</span> <span class="price">{{price}} kr</span></p>
                                {{/with}}

                                <p>
                                    <a class="change-design" href="javascript: void(0)">Ändra designen</a>
                                    <a href="javascript: void(0)">Lägg till väst (220 kr)</a>
                                    <a href="javascript: void(0)">Lägg till byxor (500 kr)</a>
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                </div>

                <div class="col-sm-4 checkout">
                    <div class="row">
                        <p class="split"><span>Kostnad exkl. frakt</span> <span>{{costWithoutShipping}} kr</span></p>
                    </div>
                    <div class="row">
                        <p class="split"><span>Frakt</span><span>{{shippingCost}}</span></p>
                    </div>
                    <div class="row">
                        <p class="split"><span>Total<br> kostnad</span><span>{{totalCost}} kr</span></p>
                    </div>

                    <p class="p-for-button">
                        <a href="{{pathFor 'beställ'}}">Beställ</a>
                    </p>

                    <p></p>
                </div>
            </div>
        </div>
    </div>
</template>