#dialogoverlay{
    display: none;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    z-index: 10;
}

#dialogbox{
    position: absolute;
    overflow-y: scroll;
    width: 900px;
    max-height: 500px;
    top: 0;
    background: #FFF;
    z-index: 15;

    display: none;
}
#dialogbox > div{ background:#FFF;}
#dialogbox a:link{
    text-decoration: none;
}



#dialogboxhead{
    font-size:18px; padding:10px; color:#bbb;
}

#dialogboxhead h1{
    text-align: center;
    margin: 0px auto;
    padding: 10px 0 15px 0;
    font: 22px "Aleo Light", Aleo, slab serif;
    color: #333;
    letter-spacing: 0.22em;
    text-transform: uppercase;
}

#dialogboxhead p{
    display: inline;
}

#dialogboxhead .green-button{
    max-width: 140px;
    background-color: #29e260;
    padding: 10px 15px 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#dialogboxhead .finish{
    background-color: #29abe2;
}

#dialogboxbody{
    padding:15px;
    color:#CCC;
}

#dialogboxbody .col-xs-6{
    padding: 0;
}

#dialogboxbody .col-xs-6 p{
    padding: 0;
    margin: 0;
    width: 130px;
    background-color: #404040;
    color: white;
}

#dialogboxbody .col-xs-6 i{
    margin-right: 3px;
    margin-top: 3px;
}

#dialogboxbody .col-xs-6 img{
    width: 99%;
    max-width: 130px;
}

#dialogboxbody .col-xs-6 p{
    width: 99%;
    max-width: 130px;
}

#dialogboxbody .col-xs-6 img:hover{
    cursor: pointer;
}

#dialogboxbody .col-xs-6 p:hover{
    cursor: pointer;
}




#dialogbox > div > #dialogboxfoot{text-align:right; }


#dialogbox label {
    display: block;
}
#dialogbox span {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

#dialogbox form>input{
    vertical-align: text-bottom;
}

#dialogbox form>span{
    position: relative;
    top: -10px;
}