<template name="overlayBox">
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div class="container-fluid">


            <div id="dialogboxhead">
                <div class="float-right" style="display: block;"><p><a href="javascript: void(0)" onclick="Box.close()">
                    <i class="fa fa-times"></i></a></p></div>
                <div class="tab-content">
                    <div id="1" class="1 tab active">
                        <h1>Välj krage</h1>
                    </div>
                    <div id="2" class="2 tab">
                        <h1>Välj antal flärpar</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5">
                        <p>
                            <a href="javascript: void(0)" onclick="Box.close()">&lt; {{name}}</a>
                        </p>
                    </div>

                    <div class="col-xs-7 visible-xs">
                        <p class="float-right">
                            <a href="{{pathFor 'kassan'}}">Designa senare &gt;</a>
                        </p>
                    </div>

                    <div class="col-sm-1 hidden-xs">
                    </div>

                    <div class="col-sm-6 hidden-xs">
                        <p class="float-right">
                            <a href="javascript: void(0)" class="previous green-button" hidden>Föregående</a>
                            <a href="javascript: void(0)" class="next green-button">Nästa</a>
                            <a href="{{pathFor 'kassan'}}">Designa senare &gt;</a>
                        </p>
                    </div>

                    <div class="col-xs-12 visible-xs">
                        &nbsp;
                        <p class="float-right">
                            <a href="javascript: void(0)" class="previous green-button" hidden>Föregående</a>
                            <a href="javascript: void(0)" class="next green-button">Nästa</a>
                        </p>
                    </div>
                </div>
                <hr>
            </div>


            <div id="dialogboxbody">
                <div class="tab-content">
                    <div id="1" class="1 tab active">
                        <div class="row">
                            <div class="col-xs-12 visible-xs">
                                <p>Rennerström et al föreslår Slim notch, men den klassiska stilen är fortfarande
                                    vanlig notch.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-2">
                                <img src="/choices_custom_suits/notch.png">

                                <p class="notch">Notch <i class="fa fa-check float-right" hidden></i></p>
                            </div>

                            <div class="col-xs-6 col-sm-2">
                                <img src="/choices_custom_suits/notch_slim.png">

                                <p class="slim-notch">Slim notch <i class="fa fa-check float-right" hidden></i></p>
                            </div>


                            <div class="col-xs-6 col-sm-2">
                                <img src="/choices_custom_suits/peak.png">

                                <p class="peak">Peak <i class="fa fa-check float-right" hidden></i></p>
                            </div>

                            <div class="col-xs-6 col-sm-2">
                                <img src="/choices_custom_suits/peak_wide.png">

                                <p class="wide-peak">Wide peak <i class="fa fa-check float-right" hidden></i></p>
                            </div>


                            <div class="col-sm-3 hidden-xs">
                                Rennerström et al föreslår Slim notch, men den klassiska stilen är fortfarande
                                    vanlig notch.
                            </div>
                        </div>
                    </div>

                    <div id="2" class="2 tab" hidden>
                        <div class="row">
                            <div class="col-xs-12 visible-xs">
                                Valet mellan en eller två flärpar är en fråga om personlig smak.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-2">
                                <img src="/choices_custom_suits/flärpar/one.png">

                                <p class="en-flärp">En flärp <i class="fa fa-check float-right" hidden></i></p>
                            </div>

                            <div class="col-xs-6 col-sm-2">
                                <img src="/choices_custom_suits/flärpar/two.png">

                                <p class="två-flärpar">Två flärpar <i class="fa fa-check float-right" hidden></i></p>
                            </div>

                            <div class="col-sm-3">
                            </div>

                            <div class="col-sm-3 hidden-xs">
                                Valet mellan en eller två flärpar är en fråga om personlig smak.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</template>